// Import a scary warning for those poor fools trying to edit the .css
@import 'base/warning';

@import "../vendor/normalize-scss/_normalize.scss";

// Variables & Mixins
@import 'base/mixins';

$gray-dark 	: #797979;
$gray		: #ccc;
$gray-light : #eaeaea;
$black		: #000;
$white		: #fff;
$orange 	: #dc8218;
$highlite-color : $orange;

$z-index: (
	heaven					:	9000,
	modal					:	1000,
	aboveground				:	100,
	ground					:	1,
	zero					:	0,
	underground				:	-1,
	hell					:	-9000
);


// Styles
/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	font-size:62.5%; //62.5% is recommended to we can easily use REM values and generate a px fallback.
}
*, *:before, *:after {
	box-sizing: inherit;
}

body { 
	font: 13px Helvetica, Arial; 
	background-color: $gray-dark;
}
.modal {
	@include z-index(modal);
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: black(0.8);
	form {
		@include centerer();
		background-color: transparent; 
		width: 80%;
		height: 80px;
	}
	button { 

	}
	&.visible {
		display: block;
	}
}

.chat-window {
	@include z-index(ground);
	@include centerer();
	background-color: $gray-light;
	width: 80%;
	float: left;
}
.window--title {
	text-align: center;
	font-weight: bold;
}
form { 
	background-color: $gray; 
	padding: 0px;
	// position: fixed; 
	bottom: 0; 
	width: 100%;
	input { 
		padding: 10px; 
		width: 80%; 
		margin-right: 0; 
		line-height: 14px;
		border: 0;
	}
	button { 
		width: 17%; 
		float: right;
		background: $highlite-color;
		color: $white;
		border: none; 
		padding: 10px; 
		line-height: 14px;
	}	 
}

.message-window {
	background-color: $white;
	display: block;
	height: 200px;
	overflow-y: scroll;
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	border: 1px solid $gray;
	li { 
		padding: 5px 10px; 
		text-align: left;
		&.me { 
			text-align: right;
			background: #eee; 
		}		
	}
}
.visitors-window {
	@include z-index('aboveground');
	position: absolute;
	right: 0;
	top: 0;
	background-color: $gray-light;
	width: 300px;
	border: 2px solid $white;
	.visitors-list {
		display: none;
	}
	p.window--title {
		position: relative;
		&:hover {
			cursor: pointer;
		}
		&::after {
			@include vertical-align();
			content: '+';
			font-size: 20px;
			font-weight: bold;
			color: $highlite-color;
			right: 20px;
		}
	}
	&.open {
		border: 2px solid $highlite-color;
		.visitors-list {
			display: block;
		}		
		p.window--title {
			&::after {
				content: '-';
			}
		}
	}
}
.visitors-list {
	border: 1px solid $gray;	
	display: block;
	min-height: 200px;
	overflow-y: scroll;
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	li { 
		padding: 5px 10px; 
		text-align: left;	
		&.active {
			background-color: $gray;
		}	
	}	
}
.visitor-status,
.operator-status {
	color: $gray;
}
.hidden {
	display: none;
}
#chat-window--visitor {
	.visitor-message {
		display: none;
	}
	&.chatting {
		.visitor-message {
			display: block;
		}
	}

}
#chat-window--operator {

}